body {
	background-image: url(/img/Luis_Pic/29.jpg);
	background-size: 650px 650px;
	background-repeat: no-repeat;
	background-position: center top;
	color: #ffcc66;
	font-style: oblique;
	text-align: center;
	bottom: 0;
}

h1 {
	text-align: center;
	font-size: 400%;
}