body {
	background-image: url(/css/LiT_logo.jpg);
	background-size: 650px 650px;
	color: #ffcc66;
	font-style: oblique;
	text-align: center;
	bottom: 0;
}

h1 {
	text-align: center;
	font-size: 400%;
}